body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgb(208, 226, 174), rgb(160, 224, 203));
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 100px;
}
.half-width img{
    width: 52%;
    border: 3px solid pink;
    margin-top: 50px;
}
.pink{
    color: pink;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 171, 181),rgb(228, 152, 152));
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    color: black;
}